// Fonts

$pt-sans    : 'PT Sans', Helvetica, Arial, sans-serif;
$maven-pro  : 'Maven Pro', Helvetica, Arial, sans-serif;

@mixin font-size($font-size) {
	font-size: $font-size;
	font-size: ($font-size / $base-font-size)*1rem;
}

$base-font-size: 14px;
$base-line-height: 20px;

// Links
a {
	text-decoration:none;
	//@include link-colors($orange, #000, $pale-orange, $orange, #000);
}


/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $pt-sans;
  color: $dark-grey;
}


/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  //@include rhythm(0, 0, 0, 0.2);;
  //color: darken($mid-grey, 15%);
  font-family: $maven-pro;
  text-transform: uppercase;

  a,
  a:visited {
    //color: inherit;
    text-decoration: none;
  }
  a:hover {
    //color: $dark-blue;
  }
}

h1, .alpha {
  @include font-size(55px);
  font-weight: 700;
}
h2, .beta {
  @include font-size(34px);
  font-weight: 700;
}
h3, .gamma {
  @include font-size(21px);
}
h4, .delta {
  @include font-size(18px);
}
h5, .epsilon{
  @include font-size(16px);
  font-weight: 700;
}
h6, .zeta {
  @include font-size(16px);
}



