/************  header  **********/

#navigation{
  float: left;
  li{
    padding-left: 8.5%!important;
    padding-right: 0!important;
  }
}

#logo{
  float: right;
}

.header__region{
  float: left;
}

#block-search-form{
  float: left;
  #search-block-form{
  	float: left;
  }
}

#block-locale-language{
  float: left;
  }

  /*********  front  ************/

//slideshow

#block-views-banner-presentation-block{
      background: url("../images/slideshow-front.png") no-repeat left center #f2ead7;
      .views-row{
      	float: left;
      }
}

//help

#block-views-req-bulletin-block{
  .block-title{
    margin-right: 40px;
    margin-left: 0;
  }
  .view{
   border-right: 1px dotted;
   border-left: none;
   padding-right: 40px;
   padding-left: 0;
  }
}

//icons

#block-views-icon-view-block{
  .views-row{
    float: right;
    margin-right: 0%;
    margin-left: 5%;
  }
}

//jobs

#block-views-communal-bulletin-board-block{
  .block-title{
    float: right;
  }
  .view{
    clear: right;
  }
  .view-footer{
    a.he{
      display: block;
    }
    a.en{
      display: none;
    }
  }
}
