/************  header  **********/

#navigation{
  float: left;
  li{
    padding-left: 8.5%!important;
    padding-right: 0!important;
  }
}

#logo{
  float: right;
}

.header__region{
  float: left;
}

#block-block-4{
  float: left;
}
#block-search-form{
  float: left;
  #search-block-form{
  	float: left;
  }
}

#block-locale-language{
  float: left;
  clear: left;
  }

  /*********  front  ************/

//slideshow

#block-views-banner-presentation-block{
      background: url("../images/slideshow-front.png") no-repeat left center #f2ead7;
      .views-row{
      	float: left;
      }
}


//icons

#block-views-icon-view-block{
  margin-top: 20px;
  .views-row{
    float: right;
    margin-right: 0%;
    margin-left: 5%;
  }
}

//jobs

#block-views-communal-bulletin-board-block{
  .block-title{
    float: right;
  }
  .view{
    clear: right;
  }
  .view-footer{
    a.he{
      display: block;
    }
    a.en{
      display: none;
    }
  }
}

/**********  sidebar  ********/

.sidebar-second #content{
  float: right;
}

.sidebar-first #content {
  float: left;
}

.region-sidebar-second .block{
  .block-title{
    margin-right: 40px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px;
  }
  .view{
   padding-right: 50px;
   padding-left: 0;
  }
  ul{
    margin-left: 0;
    margin-right: 40px;
    padding-left: 0;
    padding-right: 10px;
  }
}

#content{
  border-left: 1px dotted;
  border-right: none;
  padding: 0 10px 0 62px;
}