
 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
  @if $media == l {
    @media (max-width: 1195px) { @content; }
  }
}

@mixin width(){
  width: 1265px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

/***********  color ****************/

$default: #3c3b3b;
$blue: #62b7d3;
$light-blue: #c4e1ee;
$dark-blue: #31b0d8;
$yellow: #cc9f44;

/***********  fonts ****************/

@font-face{
  font-family:'Oron-Bold';
  font-style: normal;
  src: url('../fonts/Oron-Bold.eot'); 
  src: url('../fonts/Oron-Bold.eot#iefix') format('embedded-opentype'), 
    url('../fonts/Oron-Bold.woff') format('woff'), 
    url('../fonts/Oron-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'Oron-Light';
  font-style: normal;
  src: url('../fonts/Oron-Light.eot'); 
  src: url('../fonts/Oron-Light.eot#iefix') format('embedded-opentype'), 
    url('../fonts/Oron-Light.woff') format('woff'), 
    url('../fonts/Oron-Light.ttf') format('truetype');
}
@font-face{
  font-family:'Oron-Medium';
  font-style: normal;
  src: url('../fonts/Oron-Medium.eot'); 
  src: url('../fonts/Oron-Medium.eot#iefix') format('embedded-opentype'), 
    url('../fonts/Oron-Medium.woff') format('woff'), 
    url('../fonts/Oron-Medium.ttf') format('truetype');
}

/********** global *****************/

*:focus, textarea:focus, input:focus, a:active, a:hover, a:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

input::-moz-focus-inner { 
  border: 0; 
}

a{
  text-decoration: none;
  color: $dark-blue;
}

body{
  font-family: arial, sans-serif;  
  font-size: 17px;
  color: $default;
  background-color: #f6f5ef;
}

.block {
    margin: 0;
}

#page, .region-bottom{
  @include width;
}

#page{
  padding-top: 215px;
}

#footer{
  padding: 0;
}

.breadcrumb{
  font-family: 'Oron-Medium', sans-serif;  
  a{
    color: $default;
  }
}

#main{
  padding-top: 35px;
}

#page-title{
  color: $dark-blue;
  font-size: 2.3em;
  font-family: 'Oron-Bold', sans-serif;
  font-weight: normal;  
}
/**********  sidebar  ********/

.sidebar-second .region-sidebar-second, .sidebar-first .region-sidebar-first {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 25%!important;
}

.sidebar-second #content, .sidebar-first #content {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 75%!important;
}

.sidebar-second #content{
  float: left;
}

.sidebar-first #content {
  float: right;
}

.sidebar-second #content{
  border-right: 1px dotted;
  min-height: 500px;
  padding: 0 62px 0 10px;
}

//region sidebar first blocks

.region-sidebar-second .block{
  font-size: 0.9em;
  .block-title{
    font-size: 1.3em;
    font-family: 'Oron-Medium', sans-serif;  
    padding-bottom: 5px;
    margin-bottom: 18px;
    border-bottom: 1px dotted $default;
    margin-left: 40px;
    padding-left: 10px;
    font-weight: normal;
    color: $blue;
  }
  .view{
    padding-left: 50px;
    width: 130px;
  }
  .views-row:after{
    width: 30px;
    height: 1px;
    background-color: $blue;
    content: "";
    display: block;
    margin: 10px auto;
  }
  .views-row-last:after{
    display: none;
  }
  .view-footer{
    a{
      font-family: 'Oron-Medium', sans-serif;  
    }
  }
  ul{
    margin: 0 0 0 40px;
    padding: 0 0 20px 10px;
    border-bottom: 1px dotted;
    li{
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      a{
        color: $default;
      }
      a.active, a:hover{
        font-family: 'Oron-bold', sans-serif;  
      }
    }
  }
}

#block-views-req-bulletin-block{
  .views-field-title a{
    color: $default;
  }
}
/************  header  **********/

.header-wrapper{
  position: fixed;
  width: 100%;
  right: 0;
  z-index: 200;
  background-color: #f6f5ef;
  opacity: 0.95;
  top: 0;
  border-top: 17px solid $light-blue;
  padding-top: 20px;
  #header{
    @include width;
  }
}

#navigation{
  position: relative;
  float: right;
  width: 80%;
  margin-top: 82px;
  height: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  li{
    padding-right: 8.5%!important;
    &.last{
      padding: 0!important;
    }
  }
}

#logo{
  float: left;
  width: 20%;
  height: 168px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  img{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
}

.header__region{
  clear: none;
  float: right;
  width: 80%;
}

#block-search-form{
  float: right;
  #search-block-form{
    float: right;
    background-color: $yellow;
    .container-inline{
      height: 24px;
    }
  }
  .form-submit{
    font-size: 0.8em;
    color: #fff;
    height: 24px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
  }
  .form-text{
    border: 1px solid $yellow;
    height: 24px;
    margin-left: -5px;
  }
}

#block-block-4{
  float: right;
  p{
    margin: 0;
    a{
        background: url("../images/facebook.png") no-repeat right center #f2ead7;
        display: block;
        text-indent: -9999px;
        height: 24px;
        width: 24px;
        margin: 0 8px;
    }
  }
}

#block-block-6{
  float: right;
  clear: right;
  margin-top: 10px;
  line-height: 1em;
  a{
      color: $yellow;
  }
  p{
    margin: 0;
  }
}

#block-block-5{
  float: right;
  margin-top: 10px;
  line-height: 1em;
  a{
      color: $yellow;
  }
  p{
    margin: 0;
  }
}

#block-locale-language{
  float: right;
  margin: 10px;
  border-right: 1px solid $yellow;
  border-left: 1px solid $yellow;
  line-height: 1em;
  padding: 0 10px;
  li{
    list-style-type: none;
    &.active{
      display: none;
    }
  }
  ul{
    margin: 0;
    font-size: 0.8em;
    padding: 0;
    a{
      color: $yellow;
    }
  }
}
/**********  header whrn scrolling  **********/

.scroll{
  #block-search-form, #block-block-4, #block-block-6{
    display: none;
  }
  #block-block-5{
    position: relative;
    border: none;
    p a{
      text-indent: -9999px;
      display: block;
      &:after{
        content: "";
        background: url("../images/arabic_icon.png") no-repeat center center;
        display: block;
        text-indent: 0;
        border:2px solid $blue;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 2px;
        box-sizing: border-box;
      }
    }
  }
  #block-locale-language{
    position: relative;
    border: none;
    .en a{
      text-indent: -9999px;
      display: block;
      &:after{
        content: "E";
        display: block;
        text-indent: 0;
        border:2px solid $blue;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 2px;
        box-sizing: border-box;
      }
    }
  }
  #logo{
    width: 85px;
    overflow: hidden;
    height: 60px;
    margin-top: 8px;
    img{
      max-width: 96px;
    }
  }
  #navigation{
    margin-top: 10px;
  }
  .header-wrapper{
    padding-top: 0;
    padding-bottom: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.93);
  }
}

/**********  main-menu  **********/

#main-menu{
  font-size: 1.3em;
  a{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: $default;
    font-family: 'Oron-Light', sans-serif;  
  }
  a.active, a:hover{
    border-top: 8px solid $blue;
  }
  a.active{
      font-family: 'Oron-Medium', sans-serif;  
  }
}

/*********  front  ************/

.front #page-title{
  display: none;
}
//slideshow

#block-views-banner-presentation-block{
      background: url("../images/slideshow-front.png") no-repeat right center #f2ead7;
      border-radius: 10px;
      height: 178px;
      .views-row{
        width: 315px;
        float: left;
        padding: 18px;
        box-sizing:border-box;
        font-size: 1em;
        padding-bottom: 18px;
      }
      .views-field-title{
        font-size: 1.3em;
        font-family: 'Oron-Medium', sans-serif;  
        border-bottom: 1px dotted;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      .views-field-field-banner-body{
        line-height: 1.3em;
      }
      .views-field-field-link-banner{
        font-family: 'Oron-Medium', sans-serif;  
        margin-top: 10px;
      }
}

//blocks

#block-block-1{
  background-color: #dfeff6;
  border-radius: 10px;
  padding: 0 20px 25px;
  font-size: 0.9em;
  box-sizing: border-box;
  width: 73%;
  float: right;
  .block-title{
    font-size: 2em;
    font-family: 'Oron-Bold', sans-serif;  
    color: $dark-blue;
    font-weight: normal;
  }
  p{
    margin: 0;
  }
}

.region-before-sidebars{
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

#block-block-3{
  left: 0;
  height: 100%;
  width: 25%;
  border-radius: 10px;
  position: absolute;
  background: url("../images/leaf.png")no-repeat center 25% #f5ecd9;
  a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-family: "Oron-Medium",sans-serif;
  }
  .text{
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

//icons

#block-views-icon-view-block{
  text-align: center;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  padding: 23px 10px 17px;
  overflow: hidden;
  a{
    color: $default;
  }
  .views-row{
    float: left;
    width: 10%;
    margin-right: 5%;
  }
  .views-row-last{
    margin: 0!important;
  }
  .views-field-title{
    font-family: 'Oron-Medium', sans-serif;  
  }
}

//jobs

#block-views-communal-bulletin-board-block{
  margin-top: 15px;
  .block-title{
    font-size: 1.3em;
    font-family: 'Oron-Medium', sans-serif;  
    margin-bottom: 18px;
    border-bottom: 1px dotted $default;
    text-align: center;
    float: left;
    padding: 0 20px;
    color: $blue;
    font-weight: normal;
  }
  .views-field-title{
    a{
      color: $default;
    }
  }
  .view{
    clear: left;
    padding: 0 20px;
  }
  .view-footer{
    a{
      font-family: 'Oron-Medium', sans-serif;  
      &.he{
        display: none;
      }
    }
  }
}


//event 

#quicktabs-hompage_tabs_events{
  .item-list{
    border-bottom: 1px dotted;
    padding: 0 20px 10px;
    ul, li, a:hover{
      background: none!important;
      border: none!important;
    }
    a{
      color: $default;
    }
    a:hover, li.active a{
      color: $dark-blue;
    }
    a, a:hover{
      font-size: 1.3em;
      border-left: 1px dotted!important;
      background: none;
      font-family: 'Oron-Medium', sans-serif;  
      font-weight: normal;
      padding: 0;
      line-height: 1.3em;
      padding: 0 15px;
    }
    li{
      margin: 0;
      padding: 0;
    }
    li.first a{
      padding-right: 0;
    }
    li.last a{
      border:none!important;
      padding-left: 0;
    }
  }
}

#block-views-events-view-block{
  .views-field-field-date-event{
    font-family: 'Oron-Medium', sans-serif;  
  }
  .views-row{
    margin-top: 30px;
  }
  .view-footer{
    margin-top: 30px;
    a{
      font-family: 'Oron-Medium', sans-serif;  
    }
  }
}

.quicktabs-tabpage {
  padding: 0 20px;
}
//meditzia

#block-block-3{
  p{
    margin:0;
  }
}

.view-events-view{
  margin-top: 20px;
  .view-content a{
    color: $default;
  }
}
/***********  footer  ***********/

.region-bottom{
  padding: 0;
  border-top: 1px dotted;
  margin-top: 20px;
  #block-block-2{
    margin-top: 4px;
    border-top: 10px solid $dark-blue;
    text-align: center;
    font-size: 0.8em;
    p{
      margin: 10px 0;
    }
  }
}

/*************  article and etc.  ************/

#block-views-main-article-view-block, #block-views-users-view-block, #block-views-users-view-block-1{
  .views-field-title{
      font-family: 'Oron-Medium', sans-serif; 
      font-size: 1.2em; 
  }
  .label{
    text-decoration: underline;
    float: left;
    margin-right: 5px;
  }
  .views-field{
    margin-top: 10px;
  }
  .views-field-view-node, .views-field-view-user{
    font-family: 'Oron-Medium', sans-serif;  
    text-align: left;
    a{
      color: $blue;
    }
  }
  .views-row{
    border-bottom: 1px dotted;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .views-row-last{
    border: none;
  }
}

/*-----------------------------------------------
                faq
-----------------------------------------------*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: none;
  background-color: transparent;
  border: none;
}

.ui-state-default .ui-icon{
  background: none;
}

 .ui-accordion-icons .ui-accordion-header a{
    background: url("../images/plus.png") no-repeat scroll right center transparent;
}

.ui-state-active .ui-icon, .ui-widget-content {
  background: none;
}

.ui-accordion-icons .ui-accordion-header.ui-state-active a{
    background: url("../images/minus.png") no-repeat scroll right center transparent;

}

.ui-corner-all{
  border-radius: 0;
}

.ui-accordion .ui-accordion-header {
    margin-top:-1px;
}
.ui-accordion-icons .ui-accordion-header a:hover{
  background-color: transparent;
}

.ui-accordion-icons .ui-accordion-header a {
    padding-right: 16px;
    padding-top: 11px;
    border: none;
    padding-left: 40px;
    padding-bottom: 11px;
}

.ui-accordion-icons .ui-accordion-header a{
  border:none;
}

.ui-corner-top, .ui-corner-bottom {
    border-radius: 0px;
}

.ui-accordion .ui-accordion-header .ui-icon{
  display: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content{
  border: none;
  background: none;
}

.ui-accordion-content{
  font-family: 'Oron-light', sans-serif;  
}

#block-views-faq-view-block{
  a{
    color: $blue;
    font-family: 'Oron-Medium', sans-serif;  
  }
}